# Virtual Environment
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Secrets
client_secret.json

# IDE files
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log 